*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: $blue-lightest1;
}

a {
  color: $blue-dark1;

  &:hover {
    color: $maroon-medium1;
  }
}